.about-container {
  max-width: 900px;
  margin: 50px auto;
  padding: 20px;
  text-align: center;
}

.about-container h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 600;
}

.about-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
  justify-content: center;
}
.about-content {
  gap: 20px;
  text-align: center;
  justify-content: center;
}

.about-content img {
  width: 300px;
  border-radius: 4px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}

.about-text {
  max-width: 500px;
  text-align: left;
}
.about-text  h2 {
  text-align: left;
  margin-bottom: 10px;
}
.about-text p {
  margin-bottom: 10px;
  text-align: justify;
  line-height: 10px;
}